<h1>Protest Planner</h1>

<p>Hi <%= @user.user_name %>,</p>

<p>
  Welcome to Rise Up! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    user_name: @user.user_name) %>