<h1>Protest Planner</h1>

<p>Hi <%= @organizer_name %>,</p>

<p>
  <%= @user_name %> hope to become an organizer of event <%= @event_name %>
</p>

<!--<p>-->
<!--  Here is this user's profile page:-->
  <%#= link_to @attendee.user_name, user_url(@attendee) %>
<!--</p>-->

<p>
  If you agree, Please click on this link:
  <%= link_to "agree", add_organizer_url(:user_id => @user_id, :event_id => @event_id) %>
</p>

