

<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy/mm/dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>

<div class="w-100 bg-light position-relative">
  <div class="background-image"></div>
  <div class="bg-light background d-none d-sm-block" ></div>

  <!--Event Details -->
  <div class="p-0 bg-white event-container">
    <!--Image and Title-->
    <div class="row no-gutters h-25">
      <div class="col-md-8">
          <!--TO ADD IMAGE-->
            
      </div>
      <div class="col-md-4 bg-light">
        <div class="ml-2">
        <%= bootstrap_form_tag url: '/search_events' do |f| %>
          <h3>I'm looking for a protest in...</h3>
          <%= f.text_field :location, default: 'Any Location', placeholder: "Any Location", hide_label: true, input_group_class: 'input-group-lg', data: { target: "places.field", action: "keydown->places#keydown" }%>
          <h3>I want to rise up for...</h3>
          <%= f.collection_select :tags, Tag.all, :id, :name, { placeholder: "Tag Id", include_hidden: false, hide_label: true, required: true}, { multiple: false, class: "selectpicker" } %>
          <h3>The date which best suits me is...</h3>
          <div class="form-group"> <!-- Date input -->
            <input class="form-control" id="date" name="date" placeholder="YYYY/MM/DD" type="text"/>
          </div>
          <%= f.submit "Browse", class: "btn btn-primary btn-lg text-white" %>
        <% end %>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  </div>
  </div>
</div>
</div>


    