<div class="jumbotron " align="center">
  <h1 class="display-4">Made for those who fight.</h1>
  <p class="lead">
    <%= link_to 'Browse Events', browse_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>


