<div class="shadow jumbotron bg-dark" align="center">
  <h1 class="display-4 text-white"><b>Made for those who fight</b></h1>
  <p class="lead">
    <%= link_to 'Browse Events', browse_path, class: "btn btn-primary btn-lg text-white" %>
  </p>
</div>


