

<div class="card">
  <div class="card-header" >
    <h1>Events I am attending</h1>
  </div>
  <div class="card-body">
  <% if UserEventRelationship.where(role_type_id: '1', user_id: current_user.id ).length > 0 %>
    <div class="card-deck">
        <% UserEventRelationship.where(role_type_id: '1', user_id: current_user.id ).each do |relationship| %>
            <div class='col-sm-4'>
                <div class="card text-black bg-light mb-4">
                    <img class="card-img-top" src = '' alt="TO DO: add image src" >
                    <div class="card-body">
                        <h2 class="card-title"><%= relationship.event.name %></h2>
                        <p class="card-text"><%= relationship.event.location %></p>
                        <p class="card-text"><%= link_to 'Event Page', event_path(relationship.event), class: "btn-primary btn" %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <h3>You have not signed up to attend any events yet...</h3>
<% end %>
  </div>
</div>

