<div class="w-100 bg-primary position-absolute d-flex justify-content-center align-items-center map-loader " id="loading_map">
  <h1 class="text-white m-0 d-flex justify-content-center align-items-center">
    <div class="spinner-border mr-2" role="status">
    <span class="sr-only">Loading...</span>
  </div>Loading Map...</h1>
</div>