<%= provide(:title, 'search') %>
<%= render 'shared/navbar_dark' %>


<div class="row justify-content-center no-gutters">
<div class="container-xl mt-5">



<%= render 'shared/browse' %>



</div>
</div>





    
    




