<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY async defer></script>
