default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

production:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV.fetch("HEROKU_DATABASE_KEY"){""} %>
  pool: 5
  username: <%= ENV.fetch("HEROKU_USER_KEY"){""} %>
  password: <%= ENV.fetch("HEROKU_PASSWORD"){""} %>

development:
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: development
  pool: 5
  username: riseup 
  password: riseup 

test:
  <<: *default
  database: db/test.sqlite3