@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600|Lobster|Pacifico&display=swap&subset=cyrillic,cyrillic-ext');
// font-family: 'Lobster', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Cairo', sans-serif;
h1,
h2,
h3,
h4 {
  font-family: 'Lobster', cursive;
}
body {
  font-family: 'Cairo', sans-serif;
  font-size: 24px;
}