@import "media_query_utils";

.full-page {
  min-height: 100vh;
  width: 100vw;
}

.flash-alert {
  z-index: 16777271;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.9;
}

.fa-clickable {
  cursor:pointer;
  outline:none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  cursor: pointer;
}

@include respond-above(xs) {
  .flash-alert {
    top: 10%;
  }
}


.addeventatc {
  z-index: 0!important;
}