/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "rails_bootstrap_forms";


//.body-container {
//  width: 50%;
//}
//
//@media (max-width: 768px){
//  .body-container {
//    width: 90%;
//  }
//
//  .navbar {
//    .navbar-brand {
//      margin-left: 5% !important;
//    }
//
//    #navbarSupportedContent {
//      margin-right: 5% !important;
//    }
//  }
//}
//
//
//.navbar {
//  position: fixed;
//  //overflow: auto;
//
//  .navbar-brand {
//    margin-left: 10%;
//  }
//
//  #navbarSupportedContent {
//    margin-right: 10%;
//  }
//
//  .dropdown:hover .dropdown-menu {
//    display: block;
//  }
//}
//
//.card{
//  max-width: 32rem;
//  border: none !important;
//  border-radius: 1rem !important;
//}
//
//.gravatar {
//  max-height: 45px;
//  border-radius: 1.5rem;
//}
//
//footer {
//  border-top: 1px solid #eaeaea;
//  color: #777;
//
//  small {
//    margin-left: 10%;
//    a {
//      color: #555;
//      &:hover {
//        color: #222;
//      }
//    }
//  }
//}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#mapid { height: 180px; }


#flash-message-wrapper {
  position: fixed;
  top: 100px; right: 100px;
  width: 500px;
}

